---
const { platform, username } = Astro.props;
---

<div class="mr-5">
  <a href={`https://www.${platform}.com/${username}`}>
    <i class={`fa-brands fa-${platform?.toLowerCase()}`}></i>
    {platform}</a
  >
</div>
